/* top,midddle, and bottom div */
.topDiv{

    top: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    width:100vw;
    height: 6vh
    }
    
    .middleDiv{
    
        text-align: center;
        
        margin-top: 250px;
    }
    
    .bottomDiv{
    
    bottom: 0;
    background-color: rgb(243, 243, 243);
    position: fixed;
    width:100vw;
    height:6vh
    }

    /* left and right */
.left{
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif
    }
    
    
    
    .right{
    float: right;
    padding-right: 20px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif
    }

   



.searchBox{

width: 500px;
box-shadow: 2px 4px #bebebe;
width: 550px;
height: 37px
}

/* buttons */
.searchButtonRight{

margin-top: 20px;
margin-right: 25px;
height:37px;
}

.searchButtonLeft{

margin-top: 20px;
margin-left: 25px;
height: 37px
}

.signIn{

background-color: rgb(42, 91, 252);
color: ghostwhite;
height: 37px;
width: 89px;
}

/* Waffle Icon */
.waffleIcon{

height: 25px;
width: 25px;
margin-left: 8px;
margin-right: 8px;
}



 /* Youtube Music */
 .youTube{
    color: rgb(23, 119, 245);
    font-family: Arial, Helvetica, sans-serif
    
    }